/* Write css related to the Home page here  */
body {
  margin: 0px;
  padding: 0px;
}
#navbar {
  width: 100%;
  height: 70px;
  border: 0px solid red;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#navbar > h2 {
  float: left;
  color: red;
  margin-right: 100px;
  font-size: 30px;
  margin-top: 10px;
}
#navbar > div > a {
  /* float: right; */
  display: inline-block;
  margin-left: 70px;
  text-decoration: none;
}
#create {
  /* text-align: center; */
  margin: auto;
  width: 40%;
  height: 450px;
  border: 0px solid red;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input {
  display: block;
  width: 80%;
  height: 10%;
  margin: auto;
  margin-top: 10px;
  font-size: 23px;
}
label {
  margin-left: 50px;
  color: red;
  display: block;
  font-size: 20px;
  margin-top: 10px;
  /* padding-top: 10px; */
}
#priority {
  display: block;
  width: 80%;
  height: 10%;
  margin: auto;
  margin-top: 10px;
  font-size: 20px;
}
#create > h1 {
  text-align: center;
}
#start {
  margin-top: -2px;
}
#end {
  margin-top: -2px;
}
